<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yo, <%= @user.first_name %></h1>
    <p>
      <%= @area.title %> says Goodbye
    </p>
    <p>Thanks for comming and have a great day!</p>
  </body>
</html>