<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 600px;
  }
  /* Optional: Makes the sample page fill the window. */ 
</style>
  <%= form_tag map_path, method: 'get' do %>
    <button type="submit" style="color: #00eebc;">Go</button>
    <label>Separate user ids with a comma</label>
    <%= text_field_tag :user, params[:user], placeholder: "User Ids" %>
    <label>Separate dates with a comma</label>
    <%= text_field_tag :time, params[:time], placeholder: "Time" %>
  <% end %>
<div id="map"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: {lat: 33.4484, lng: -112.0740},
      mapTypeId: 'roadmap'
    });

    var iconBase = 'https://storage.googleapis.com/support-kms-prod/';
    
    var icons = {
      post: {
        icon: iconBase + 'SNP_2752125_en_v0'
      }
    };

    function addMarker(feature) {
      var marker = new google.maps.Marker({
        position: feature.position,
        icon: icons[feature.type].icon,
        map: map
      });
      return marker
    }

    function addCircle(feature) {
        var circle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: map,
        center: feature.position,
        radius: 15
      });
      return circle
    }

    var array_of_stuff = <%= @posts %>

    function new_hash(item, index) {
      var js_sucks = { 
      position: {lat: item[0], lng: item[1]},
      type: 'post'
      };
      return js_sucks;
    }

    var features = array_of_stuff.map(new_hash)

    for (var i = 0, feature; feature = features[i]; i++) {
      var individualMarker = addMarker(feature);
      var individualCircle = addCircle(feature);
      individualCircle.bindTo("center", individualMarker, "position")
    }
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU7vv1IU0p7UKr8YiKASuKXKn7ptBrcUk&callback=initMap">
</script>